<!--<div id="header" class="container">
    <h1 class="form-signin-heading" style="font-size: 1.8em">Thank you for your participation</h1>
    <p style="font-size: 1.6em">Please fill out the finals questionnaires to end the study</p></br>
    <a style="color: lightgreen; font-size: 1.4em" href="#">Post-questionnaire 1- TLX</a> </br>
    <a style="color: lightgreen; font-size: 1.4em" href="#">Post-questionnaire 2- SUS</a> </br>
    <a style="color: lightgreen; font-size: 1.4em" href="#">Post-questionnaire 3</a> </br>

    <ul class="actions">
        <li><a href="#one" class="button scrolly">Done</a></li>
    </ul>
</div>-->

<div>
    <!-- Header -->
    <section id="header">
        <div class="inner">
            <span class="icon major fa-user"></span>
            <h1>Thank you for your participation<br />
            </h1>
            <p>Please fill out the finals questionnaires to end the study</p>
            <a style="color: lightgreen; font-size: 1.4em" href="https://goo.gl/forms/j3A7gJr0f8teTcPq2">Post-questionnaire 1- TLX</a> </br>
            <a style="color: lightgreen; font-size: 1.4em" href="https://goo.gl/forms/f50hAAJWbKXyUqwW2">Post-questionnaire 2- SUS</a> </br>
            <a style="color: lightgreen; font-size: 1.4em" href="https://goo.gl/forms/4kcSvRrSrMkzT77g2">Post-questionnaire 3</a> </br>
            <!--<ul class="actions">
                <li><a href="#" class="button scrolly"></a></li>
            </ul>-->
        </div>
    </section>
</div>